* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 500px;
    text-align: center;
}

.recipe-title {
    text-decoration: purple;
    text-decoration-line: underline;
}

